.pages
{
	background: rgba(0,0,0,.2);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.page
{
	position: relative;
	margin: 10px 0;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0,0,0,.2);
	width: 100%;
}

.page img
{
	display: block;
	position: relative;
	z-index: 1;
}

.page-label
{
	position: absolute;
	z-index: 0;
	bottom: 20px;
	right: 0;
	padding: 20px;
	color: #fff;
	background: rgba(0,0,0,.1);
}


@media (min-width: 1024px)
{
	.page
	{
		width: 50%;
	}

	.page:nth-of-type(odd)
	{
		padding-right: 0;
	}

	.page:nth-of-type(even)
	{
		padding-left: 0;
		clear: right;
	}

	.page:nth-of-type(odd) .page-label
	{
		right: auto;
		left: 0;
	}

}